<header>
  <img
    src="assets/img/rodrigo.png"
    alt="Rodrigo Folha - Foto de Perfil"
    width="152px"
    height="152px"
    loading="eager"
  />

  <h1>Rodrigo Folha</h1>
</header>

<aside>
  <div class="container">
    <p>Desenvolvedor Backend | Java | Spring | Quarkus | Angular | JSF | PrimeFaces </p>
    <p>Palmas, Tocantins, Brasil</p>
    <p>Sou movido pela lógica e eficiência. Em transição de carreira para a área de tecnologia, trago uma visão analítica e orientada a resultados, contribuindo para a criação de sistemas robustos e de alto impacto.</p>
  </div>

  <section>
    <a href="assets/pdf/cv.pdf" target="_blank">
      <figure>
        <img
          src="assets/icons/resume.svg"
          alt="Ícone para baixar o currículo"
          width="22px"
          height="24px"
        />
        <figcaption>
            <strong>Baixar currículo</strong>
            <p>Obter currículo em pdf</p>
        </figcaption>
      </figure>
    </a>

    <a href="mailto:rodrigofomo@gmail.com" target="_blank">
      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Ícone para contato de e-mail"
          width="22px"
          height="24px"
        />
        <figcaption>
            <strong>Envie um e-mail</strong>
            <p>Entre em contato comigo</p>
        </figcaption>
      </figure>
    </a>
  </section>

</aside>
