<div class="container">
  <h2>Projetos desenvolvidos (Tópico em Construção)</h2>
  <p>Por enquanto visualize os projetos que se encontram com o link no meu <a href="assets/pdf/cv.pdf" target="_blank" class="curriculo"> curriculo </a> </p>

  <ul>
    @for(item of arrayProjects(); track item) {
      <li>
        <button (click)="openDialog(item)">
          <img
            [src]="item.src"
            [alt]="item.alt"
            [attr.width]="item.width"
            [attr.height]="item.height"
            loading="lazy"
          />
        </button>
      </li>
    }
  </ul>
</div>
